// --------------------------------------------------------
// FOOTER
// --------------------------------------------------------

footer {
	padding-top: 30px;
	padding-bottom: 30px;
	color: #fff;
	background: $skyblue;
	
	a {
		color: white;
		transition: color 0.4s ease;
		
		&:hover {
			color: $red;
			text-decoration: underline;
		}	
	}
	
	.footerNav {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		&>li {
			width: 25%;

			
		}
	}
}

.footerSubNav li {
	line-height: 1.5; 
	@include fontSize(14, 300);
	
	address {
		font-style: normal;
		@include fontSize(14, 300);
	}
}

.botBarNav {
	padding-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	li {
		margin-right: 39px;
	}
}